@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

.dm-sans-600 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.dm-sans-800 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.swiper-pagination-bullet-active {
  background-color: #ef7226;
}

.orange-text-gradient {
  background: -webkit-linear-gradient(top, #ef7226, #3e1a04);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
