@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

.dm-sans-600 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.swiper-pagination-bullet-active {
  background-color: #ef7226;
}
